<div class="row">
    <div class="col-12">
        <h1>
          {{ title }}
        </h1>
      </div>
    <div class="col-12">
        <form [formGroup]="conversionForm">
            <div class="form-group">
                 <label  for="conversionUnit">Select conversion unit:</label>
                 <select class="form-control" formControlName="conversionUnit">
                    <option [ngValue]="null">Select</option>
                    <option [value]="1">Celsius to Fahrenheit</option>
                    <option [value]="2">Celsius to Kelvin</option>
                    <option [value]="3">Fahrenheit to Celsius</option>
                    <option [value]="4">Fahrenheit to Kelvin</option>
                    <option [value]="5">Kelvin to Celsius</option>
                    <option [value]="6">Kelvin to Fahrenheit</option>
                 </select>   
            </div>
            <div class="form-group">
                <label For="conversionValue">Enter Temperature:</label>
                <input class="form-control" type="text" formControlName="temperatureToConvert">
            </div>
            <div class="form-group">
                <label class="tempValue">Converted value: {{convertedValue}}</label>
            </div>
            <div class="form-group"> 
                <button class="btn" (click)="performConversion()" [disabled]="conversionForm.get('conversionUnit')?.value === null 
                || conversionForm.get('temperatureToConvert')?.value === null
                || conversionForm.get('temperatureToConvert')?.value === ''">Perform Conversion</button>
            </div>
        </form>
    </div>
</div>